<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="/">home</a></li>
            <li class="fork"><a href="https://github.com/hikogui/hikogui/discussions/categories/news">news</a></li>
            <li class="fork"><a href="/docs/hikogui/main/index.html">docs</a></li>
            <li class="fork"><a href="https://github.com/hikogui/hikogui-hello-world/blob/main/src/main.cpp">example</a></li>
            <li class="fork"><a href="https://github.com/hikogui/hikogui/issues/">issues</a></li>
            <li class="title sponsor"><a href="https://github.com/sponsors/takev">
            <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" area-hidden="true">
            <path fill-rule="evenodd" d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"></path>
            </svg>
            sponsor</a></li>
            <li class="title"><a href="https://github.com/hikogui/hikogui/">github</a></li>
            <li class="title"><a href="https://discord.gg/7e8pFTsujw">discord</a></li>
            <li class="title"><a href="https://twitch.tv/tjienta/">twitch</a></li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>

        {{ content }}

      </section>

    </div>
  </body>
</html>
